.task {
  border: 1px solid #ced4da;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.task .taskDetail .taskDetailText {
  font-weight: 600;
}

.button {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  /* border-radius: 15px; */
  /* display: block; */
}
