.dashboard {
  margin-top: 2rem;
}

.dashboard .tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80vh;
  /* border: 1px solid black; */
  overflow: scroll;
  /* grid-gap: rem; */
}

.dashboard .tasks .heading {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .dashboard .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard .tasks {
    grid-template-columns: 1fr;
  }
}
