.dashboard {
  margin-top: 2rem;
  border: 1px solid #d2d8dd;
  border-radius: 10px;
}

.refreshButton {
  position: absolute;
  top: 20%;
  /* color: white; */
  /* background-color: #007bff; */
}

.refreshButton button {
  background-color: #007bff;
  color: white;
}

.dashboard .introSection {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* .dashboard .addTaskButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
} */

.dashboard .cautionText {
  text-align: center;
}

.dashboard .tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80vh;
  /* border: 1px solid black; */
  overflow: scroll;
  grid-gap: 1rem;
}

.dashboard .tasks .heading {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.dashboard .formAddTaskButton {
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .dashboard .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard .tasks {
    grid-template-columns: 1fr;
  }
}
